doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Folio - wedding photo for you
		link(rel='stylesheet', href='css/style.min.css')
	body
		.global-wrapper
			.wrapper-content
				.column
					.column__item
						.logo
							img.logo__img(src='img/logo.png')
						.content-block
							h1.content-block__title About us
							p.content-block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at&nbsp;nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Maecenas in&nbsp;magna mollis lectus lacinia mollis.
							img.content-block__img(src='img/mike.png')
							p.content-block__text Maecenas ipsum metus, semper hendrerit varius mattis, hasr congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut&nbsp;elem entum enim rutrum. Nam mi&nbsp;erat, porta idso ultrices nec, pellentesq ue&nbsp;vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a&nbsp;interdumni justo ultricies. Sed luctus dui nec ni&nbsp;sl&nbsp;tem pus faucibus sit amet et&nbsp;sem. Aenean augue sapien, sodales ac&nbsp;bibendum&nbsp;ut, pellentesque id&nbsp;eros. Duis tristique porta aliquam. Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae. Pellentesque ultricies nisl quis odio posuere facilisis. In&nbsp;ut&nbsp;felis erat, ac&nbsp;laoreet orci. Sed lectus nulla, bibendum at&nbsp;vulputate sit amet, tincidunt volutpat lorem. Maecenas in&nbsp;magna mollis lectus lacinia mollis. Donec sit amet volutpat lorem. Pellentesque ultricies nisl quis odio posuere facilisis. In&nbsp;ut&nbsp;felis erat, ac&nbsp;laoreet orci.
							p.content-block__text Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut&nbsp;elementum enim rutrum. Nam mi&nbsp;erat, porta id&nbsp;ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a&nbsp;interdum justo ultricies. Sed luctus dui nec nisl tempus faucibus sit amet et&nbsp;sem. Aenean augue sapien, sodales ac&nbsp;bibendum&nbsp;ut, pellentesque id&nbsp;eros.
							p.content-block__text Quisque mollis, sem id&nbsp;laoreet pretium, lectus elit molestie urna, id&nbsp;tristique risus ante at&nbsp;est. Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas. Sed lectus nulla, bibendum at&nbsp;vulputate sit amet, tincidunt volutpat lorem. Maecenas in&nbsp;magna mollis lectus lacinia mollis. Donec sit amet volutpat lorem. Duis tristique porta aliquam. Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae.
							blockquote.content-block__blockquote
								p.content-block__cite Quisque mollis, sem id&nbsp;laoreet pretium, lectus elit molestie urna, id&nbsp;tristique risus ante at&nbsp;est. Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas. Sed lectus nulla, bibendum at&nbsp;vulputate sit amet, tincidunt volutpat lorem. Mae trenas in&nbsp;magna mollis lectus lacinia mollis. Donec sit amet volutpat lorem. Du&nbsp;tristique porta aliquam. Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae. Pellentesque ultric nisl quis odio posuere facilisis. In&nbsp;ut&nbsp;felis erat, ac&nbsp;laoreet orci donec sed nulla at&nbsp;sit amet.
					.column__item
						.slider
							span.slider__number 2/10
							.slider__item
								img.slider_img(src='img/slider-1.png')
							.slider__item
								img.slider_img(src='img/slider-2.png')
							.slider__item
								img.slider_img(src='img/slider-3.png')
							.slider__item
								img.slider_img(src='img/slider-4.png')
							.slider__item
								img.slider_img(src='img/slider-5.png')
							.slider__item
								img.slider_img(src='img/slider-6.png')
							//- .slider__item
							//- 	img.slider_img(src='img/slider-7.png')
			.menu
				menu.menu__list.wrapper-content
					li.menu__item
						a.menu__link(href='/') Home
					li.menu__item.active
						a.menu__link(href='/about.html') About
					li.menu__item
						a.menu__link(href='/services.html') Services
					li.menu__item
						a.menu__link(href='/portfolio.html') Portfolio
					li.menu__item
						a.menu__link(href='/contact/html') Contact
				.copyright.wrapper-content
					p.copyright__text Copyright Folio 2012. All Rights Reserved.
	script(src='https://unpkg.com/flickity@1.1/dist/flickity.pkgd.min.js')
