doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Folio - wedding photo for you
		link(rel='stylesheet', href='css/style.min.css')
	body
		.global-wrapper
			.wrapper-content
				.column
					.column__item
						.logo
							img.logo__img(src='img/logo.png')
						.description
							h1.description__title Featured
							p.description__text Wedding Photography Shoot
					.column__item
						.slider
							span.slider__number 2/10
							.slider__item
								img.slider_img(src='img/slider-1.png')
							.slider__item
								img.slider_img(src='img/slider-2.png')
							.slider__item
								img.slider_img(src='img/slider-3.png')
							.slider__item
								img.slider_img(src='img/slider-4.png')
							.slider__item
								img.slider_img(src='img/slider-5.png')
							.slider__item
								img.slider_img(src='img/slider-6.png')
							//- .slider__item
							//- 	img.slider_img(src='img/slider-7.png')
			.menu
				menu.menu__list.wrapper-content
					li.menu__item.active
						a.menu__link(href='/') Home
					li.menu__item
						a.menu__link(href='/about.html') About
					li.menu__item
						a.menu__link(href='/services.html') Services
					li.menu__item
						a.menu__link(href='/portfolio.html') Portfolio
					li.menu__item
						a.menu__link(href='/contact/html') Contact
				.copyright.wrapper-content
					p.copyright__text Copyright Folio 2012. All Rights Reserved.
	script(src='https://unpkg.com/flickity@1.1/dist/flickity.pkgd.min.js')
