/*Typography*/

$font-family-base: 'alte-haas-grotesk',Arial,Helvetica,sans-serif;
$font-size-title: 30px;
$font-size-base: 18px;
$font-style-text: 14px;

/*Colors*/

$tundora: #4c4c4c;
$white: #ffffff;
$olivine: #86b17b;

$text-color: $tundora;
$text-color-active: $olivine;

