@font-face {
		font-family: 'alte-haas-grotesk';
		src: url('../fonts/altehaasgroteskregular-webfont.eot');
		src: url('../fonts/altehaasgroteskregular-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/altehaasgroteskregular-webfont.woff2') format('woff2'),
				 url('../fonts/altehaasgroteskregular-webfont.woff') format('woff'),
				 url('../fonts/altehaasgroteskregular-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;

}
